    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="lead">
              <br/><br/>
              <h2>About this tool</h2>
              <br/>
                <p>The West Virginia Forest Carbon Estimator is a tool designed for landowners to  determine the carbon credit potential of their forests.</p>
                <p>Using state-of-the-art modeling and plot-based validation, the tool is currently the most accurate statewide estimator of forest carbon sequestration and stock The tool estimates the annual carbon sequestration potential of forested lands.</p>
                <p>The tool was built by the Brzostek Lab at West Virginia University, in collaboration with the West Virginia University Bridge Initiative.</p>
                <br/>
              </div>
        </div>
    </section>
